html, body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}
.Button {
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;

}
.row{
    margin: 3px 0;
}
.row input{
    font-size: 22px;
    margin: 0;
    padding: 6px 0px;
    border: 2px solid black;
    border-radius: 14px;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #21D4FD;
    background-image: linear-gradient(135deg, #21D4FD 0%, #B721FF 100%);
  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.creator{
    text-align: center;
    font-family: Brush Script MT, Brush Script Std, cursive; 

  background-color: #21D4FD;
  background-image: linear-gradient(135deg, #21D4FD 0%, #B721FF 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}